* {
    box-sizing:border-box;
    padding:0%;
    margin: 0%;
}

body {
    background-color: white;
}

.container {
    display: grid ;
    grid-template-columns: 1fr 2fr 2fr;
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }
  
  .title-element {
    position: relative;
    width: 75%;
    margin: 4px;
    margin-left: 40px;
    padding: 4px;
  }

  .work-title-box {
    object-position: center;
    min-width: fit-content;
    max-width:inherit;
    color: black;
    border-style: solid;
    border-width: 2px;
    background-color: beige;
    font-size: .5em;
    padding: 4px 16px;
    margin: 16px;
  }


  .cell {
    color: white;
    font-size: 3rem;
    text-align: center;
    padding: 4rem;
  }
  .cell-1 {  /*header*/
    grid-row: 1;
    grid-column: 1/4;
    background: white;
  }

  .cell-2 { /*subheader*/
    grid-row: 2;
    grid-column: 1/4;
    padding: 0;
    background-size:contain;
    position: relative;
    text-align: center;
  }
  .cell-3 { /*about me*/
    grid-row: 3;
    grid-column: 1;
    background: white;
    text-align: right;
    border-right: navy solid 5px;
  }
  .cell-4 { /*about me content*/
    grid-row: 3;
    grid-column: 2/4;
    background: white;
    color: navy;
  }
  .cell-5 {  /*work*/
    grid-row: 4/7;
    grid-column: 1;
    background: white;
    text-align: right;
    border-right: navy solid 5px;
  }
  .cell-7 { /*contact me*/
    grid-row: 8;
    grid-column: 1;
    background: white;
    text-align: right;
    border-right: navy solid 5px;
  }
  .cell-8 {  /*contact me content*/
    grid-row: 8;
    grid-column: 2/4;
    background: white;
  }
  .cell-9 { /*footer*/
    grid-row: 9;
    grid-column: 1/4;
    background: white;
    font-size: medium;
    color: navy;
    border-top: 2px solid navy;
  }

  .cell-10 { /*work project 1*/
    grid-row: 4;
    grid-column: 2/4;
    background: white;
    border-top: 2px solid navy;
    border-bottom: 2px solid navy;
    object-position: center;
    padding: 4px 16px 4px 24px;
    margin: 4px;
  }
  .cell-11 { /*work project 2*/
    grid-row: 5;
    background: white;
    border-right: 2px solid navy;
    border-bottom: 2px solid navy;
    object-position: center;
    padding: 4px 16px 16px 4px;
    margin: 4px;

  }
  .cell-12 { /*work project 3*/
    grid-row: 5;
    background: white;
    border-bottom: 2px solid navy;
    object-position: center;
    padding: 4px 16px 4px 16px;
    margin: 4px;
  }
  .cell-13 { /*work project 4*/
    grid-row: 6;
    background: white;
    border-bottom: 2px solid navy;
    border-right: 2px solid navy;
    color: navy;
    object-position: center;
    padding: 4px 16px 4px 16px;
    margin: 4px;
  }
  .cell-14 {  /*work project 5*/
    grid-row: 6;
    background: white;
    border-bottom: 2px solid navy;
    color: navy;
    object-position: center;
    padding: 4px 16px 4px 16px;
    margin: 4px;
  }

.h1 {
    text-align: left;
    font-size: 48px;
    text-decoration: underline;
    color: navy;
    padding-right: 200px;
    display: inline-block;
}

.header-img {
    padding-right: 20px;
}

.nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    padding-top: 75px;
}

.nav ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 10px;
}

a {
    color: forestgreen;
    text-decoration: underline;
}

p {
    font-size: 16px;
}

.bottom-right {
    position: absolute;
    right: 50px;
    top: 280px;
    color: white;
    font-size: 30px; 
}

.h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 48px;
    color: forestgreen;
}

.contact-list li {
    font-size: 30px;
    display: inline-block;
    padding-inline: 5px;
}

span {
    color: red;
}

@media screen and (max-width: 992px) {
    .container {
        background-color: rgb(228, 247, 237);
        margin-top: 10px;
        margin-bottom: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .cell {
        color: white;
        font-size: 3rem;
        text-align: center;
        padding: 4rem;
      }
    .cell-1 {  /*header*/
        grid-row: 1;
        grid-column: 1/3;
        background: white;
        text-align: center;
      }
    
    .cell-2 { /*subheader*/
        grid-row: 2;
        grid-column: 1/3;
        padding: 0;
        background-size:contain;
        position: relative;
        text-align: center;
      }
    .cell-3 { /*about me*/
        grid-row: 3;
        grid-column: 1;
        background: white;
        text-align: center;
        border-right: navy solid 5px;
      }
    .cell-4 { /*about me content*/
        grid-row: 3;
        grid-column: 2;
        background: white;
        color: navy;
      }
    .cell-5 {  /*work*/
        grid-row: 4;
        grid-column: 1;
        background: white;
        text-align: center;
        border-right: navy solid 5px;
      }
    .cell-7 { /*contact me*/
        grid-row: 7;
        grid-column: 1;
        background: white;
        text-align: center;
        border-right: navy solid 5px;
      }
    .cell-8 {  /*contact me content*/
        grid-row: 7;
        grid-column: 2;
        background: white;
      }
    .cell-9 { /*footer*/
        grid-row: 8;
        grid-column: 1/3;
        background: white;
        font-size: medium;
        color: navy;
        border-top: 2px solid navy;
      }
    
    .cell-10 { /*work project 1*/
        grid-row: 4;
        grid-column: 2;
        background: white;
        border-top: 2px solid navy;
        border-bottom: 2px solid navy;
       
      }
    .cell-11 { /*work project 2*/
        grid-row: 5;
        grid-column: 1;
        background: white;
        border-right: 2px solid navy;
        border-bottom: 2px solid navy;
       
      }
    .cell-12 { /*work project 3*/
        grid-row: 5;
        grid-column: 2;
        background: white;
        border-bottom: 2px solid navy;
      }
    .cell-13 { /*work project 4*/
        grid-row: 6;
        grid-column: 1;
        background: white;
        border-bottom: 2px solid navy;
        border-right: 2px solid navy;
        color: navy;
    
      }
    .cell-14 {  /*work project 5*/
        grid-row: 6;
        grid-column: 2;
        background: white;
        border-bottom: 2px solid navy;
        color: navy;
      }
    .bottom-right {
        position: absolute;
        right: 50px;
        top: 200px;
        color: white;
        font-size: 30px; 
    }
    .h1 {
        text-align: right;
        font-size: 48px;
        text-decoration: underline;
        color: navy;
        padding-right: 200px;
        display: inline-block;
    }
    
    .header-img {
        align-items: left;
    }
    
    .nav {
        text-align: left;
        align-items: left;
        justify-content: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        /* padding-top: 75px; */
    }
    
    .nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-left: 10px;
    } 
}

@media screen and (max-width: 768px) {
    .container {
        background-color: rgb(228, 247, 237);
        margin-top: 10px;
        margin-bottom: 10px;
        grid-template-columns: 1fr;
        border: 3px solid navy;
    }
    .cell {
        color: white;
        font-size: 3rem;
        text-align: center;
        padding: 4rem;
      }
    .cell-1 {  /*header*/
        grid-row: 1;
        grid-column: 1;
        background: white;
        text-align: center;
      }
    
    .cell-2 { /*subheader*/
        grid-row: 2;
        grid-column: 1;
        padding: 0;
        background-size:contain;
        position: relative;
        text-align: center;
      }
    .cell-3 { /*about me*/
        grid-row: 3;
        grid-column: 1;
        background: white;
        text-align: center;

      }
    .cell-4 { /*about me content*/
        grid-row: 4;
        grid-column: 1;
        background: white;
        color: navy;
      }
    .cell-5 {  /*work*/
        grid-row: 5;
        grid-column: 1;
        background: white;
        text-align: center;
    
      }
    .cell-7 { /*contact me*/
        grid-row: 11;
        grid-column: 1;
        background: white;
        text-align: center;

      }
    .cell-8 {  /*contact me content*/
        grid-row: 12;
        grid-column: 1;
        background: white;
      }
    .cell-9 { /*footer*/
        grid-row: 13;
        grid-column: 1;
        background: white;
        font-size: medium;
        color: navy;
      }
    
    .cell-10 { /*work project 1*/
        grid-row: 6;
        grid-column: 1;
        background: white;
       
      }
    .cell-11 { /*work project 2*/
        grid-row: 7;
        grid-column: 1;
        background: white;

      }
    .cell-12 { /*work project 3*/
        grid-row: 8;
        grid-column: 1;
        background: white;
      }
    .cell-13 { /*work project 4*/
        grid-row: 9;
        grid-column: 1;
        background: white;
        color: navy;
    
      }
    .cell-14 {  /*work project 5*/
        grid-row: 10;
        grid-column: 1;
        background: white;
        color: navy;
      }

    .bottom-right {
        position: absolute;
        right: 50px;
        top: 180px;
        color: white;
        font-size: 30px; 
    }
    
    .h1 {
        text-align: right;
        font-size: 48px;
        text-decoration: underline;
        color: navy;
        /* padding-right: 200px; */
        display: inline-block;
    }
    
    .header-img {
        align-items: left;
    }
    
    .nav {
        text-align: left;
        align-items: left;
        justify-content: left;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        /* padding-top: 75px; */
    }
    
    .nav ul li {
        list-style-type: none;
        display: inline-block;
        margin-left: 10px;
    }   
}